$primary: #CCCCDF;
$secondary: #DA006D;

$green: #077878;
$yellow: #EFB00F;
$link : #0061A0;
$darkGreen: #077878;
$accent: #A4CE4E;
// $blue: #006DDA;


$blue: #0090DA;
$blue4: #CCE9F8;
$blue3: #99D3F0;
$blue2: #66BCE9;




