.credentialing {
	.section-header {
		background: #FFF;
		border-radius: 2px 0 0 2px;
		padding: 24px 12px;
		.nav-tabs {
			justify-content: center;
			border: none;
			&.item-p0 {
				.nav-item {
					.nav-link {
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
			&.show-labels {
				justify-content: space-evenly;
				.nav-item {
					.nav-link {
						text-align: center;
						&.active {
							.label {
								color: $blue;
								font-weight: bold;
							}
						}
						.count {
							display: block;
							margin: auto;
						}
						.label {
							display: inline-block;
							color: #000;
							font-weight: normal;
							margin-left: 0;
							max-width: 100px;
    						line-height: 18px;
    						margin-top: 6px;
						}
						.arrow {
							display: none;
						}
					}
				}
			}

			.nav-item {
				.nav-link {
					padding: 12px 10px;
					&.completed {
						background-color: transparent;
						border: none;
						.count {
							background: $green;
							border-color: $green;
							color: #FFF;
						}

						.arrow {
							svg {
								fill: $green;
							}
						}
					}
					&.active {
						background-color: transparent;
						border: none;
						.count {
							background: $blue;
							border-color: $blue;
							color: #FFF;
						}
						.label {
							display: inline-block;
						}
					}
					.count {
						width: 28px;
						height: 28px;
						display: inline-block;
						background-color: #FFF;
						border: 1px solid #C4C4C4;
						text-align: center;
						border-radius: 50%;
						font-size: 16px;
						padding-top: 1px;
						color: #000000;
						font-weight: 500;
					}
					.label {
						display: none;
						text-transform: uppercase;
						font-size: 14px;
						color: $blue;
						font-weight: bold;
						margin-left: 12px;
					}
					.arrow {
						margin-left: 12px;
						svg {
							fill: rgba(0, 0, 0, 0.25);
						}
					}
				}
			}
		}
	}
	.section-body {
		background: #FFFFFF;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
		border-radius: 0 0 2px 2px;
		min-height: 600px;
		.left-section {
			border-right: 1px solid #C4C4C4;
			padding: 32px 0 32px 0;
			min-height: 100vh;
			height: 100%;
		}
		.right-section {
			padding: 0 0 0 20px;
			.tab-title {
				font-weight: normal;
				font-size: 18px;
				color: #000;
				margin-bottom: 22px;
			}
		}
	}
}



