section {
    .section-title {
        margin-bottom: 24px;
        h3 {
            font-weight: 500;
            font-size: 24px;
            color: #000000;
        }
    }
}

.btnFilters {
    align-self: flex-end;
}
.dashboard-tile {
    display: flex;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    min-height: 66px;

    &:hover {
            text-decoration: none;
        }

    .tile-count {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        align-self: stretch;
        display: flex;
        align-items: center;
        flex-basis: 25%;
        justify-content: center;
        font-size: 24px;
        font-weight: 600;
        position: relative;
        span {
                color: #FFF;
            }

        /*&::after {
            content: "";
            display: block;
            width: 8px;
            height: 18px;
            position: absolute;
            right: -4.6px;
            background-color: #FFF;

        }*/
    }
    .tile-content {
        align-self: stretch;
        flex-basis: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-top: 1px solid #CCCCDF;
            border-right: 1px solid #CCCCDF;
            position: absolute;
            right: 8px;
            top: 8px;

        }

        h5 {
            margin: 0;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            color: #FFF;
            display: flex;
            align-items: center;
            span {
                font-size: 12px;
                margin-left: 12px;
            }
        }
    }

    &.tile-link {
        background-color: $link;
        
       
    }
    &.tile-green {
        background-color: $darkGreen;
    }
    &.tile-secondary {
        background-color: $secondary;
       
    }
}

.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.dashboard-chart {
    .card-body {
        text-align: center;
        min-height: 300px;
        h4 {
            margin: 0 auto 22px auto;
            font-size: 14px;
            max-width: 170px;
        }
        img {
            max-width: 100%;
        }
        .loading {
            text-align: center;
            margin-top: 100px;
        }
    }
    .card-footer {
        border: none;
        background-color: rgba(204, 204, 223, 0.5);
        font-weight: bold;
        color: #000;
        &:hover {
            background-color: $secondary;
            color: #FFF;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .dashboard-tile,
    .card {
        margin-bottom: 18px;
    }
}